@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil pizza Pito";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pizza Pito</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Pizza Pito Accueil</h1>
        <p><a asp-page="MenuPizza">Voir le menu des pizzas</a></p>
    </div>
</body>
</html>


