@page
@model Pizza_Pito.Pages.MenuPizzaModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu de Pizza Pito</title>
</head>
<body>
    <div class="container">
        <h1>Menu des pizzas</h1>
        <a asp-page="Index">Retour à l'accueil</a>
    </div>
</body>
</html>

